{% extends "base.html" %}
{% load govuk_frontend_django %}
{% block title %}My account - {{ user.first_name }} {% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="start-draft-assessment" method="post">
            <h2 class="govuk-heading-l">
                Year 3 of GovAssure (2025/26) applications
            </h2>


            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Start a draft assessment
            </button>

        </form>


    </div>

    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-body" id="subsection-title">
            Logged in as
            <span class="govuk-heading-m">
          {{ user.first_name }} {{ user.last_name }}
        </span>
        </h2>

        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list">
                <li>
                </li>
                <li>
                    <a href="my-organisation" class="govuk-link govuk-link--no-visited-state">
                        Your organisation details
                    </a>
                </li>
            </ul>
        </nav>


    </div>
</div>
{% endblock %}
