{% extends "base.html" %}
{% load permission_extras %}
{% block title %}My account - {{ user.first_name }} {% endblock %}
{% block content %}
    {% current_user_can_start_assessment current_profile as can_start_assessment %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if can_start_assessment %}
                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
                     data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">

                        <p class="govuk-notification-banner__heading">
                            Before starting a new CAF self-assessment, you must have a completed and signed off scoping
                            document
                            for stage 1 and 2 of the GovAssure process.
                        </p>

                    </div>
                </div>
            {% endif %}
            <h2 class="govuk-heading-l" title="user email {{ current_profile.user.email }}">
                My {{ current_profile.get_role_display }} account
            </h2>
            <div>
                <p class="govuk-hint">
                    {% get_my_account_text current_profile %}
                </p>
            </div>
            {% current_user_can_create_system current_profile as can_create_systems %}
            {% current_user_can_view_assessments current_profile as can_view_assessments %}
            {% if can_create_systems %}
                <form action="{% url 'create-new-system' %}" method="GET">
                    {% csrf_token %}
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
                            Add new system
                        </button>
                        {% if system_count %}
                            <a href="{% url 'view-systems' %}" class="govuk-link govuk-link--no-visited-state">
                                View systems
                            </a>
                        {% endif %}
                    </div>
                </form>
            {% endif %}
            {% if can_start_assessment %}
                <form action="{% url 'create-draft-assessment' %}" method="GET">
                    {% csrf_token %}
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Start a draft assessment
                    </button>
                </form>
            {% endif %}
            {% if can_view_assessments %}
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                    Continue a draft assessment
                </h3>
                {% if not draft_systems %}
                    <p class="govuk-body govuk-!-margin-bottom-2 govuk-hint">You don't have any draft assessments.
                    </p>
                {% else %}
                    <p class="govuk-body" title="View {{ draft_systems| length }} draft assessment(s)">
                        <a href="{% url 'view-draft-assessments' %}" class="govuk-link govuk-link--no-visited-state">
                            View {{ draft_systems| length }} draft assessment{{ draft_systems | length | pluralize }}
                        </a>
                    </p>
                {% endif %}
                {% if current_user_can_submit_assessment %}
                    <h3 class="govuk-heading-m">
                        Assessments sent for review
                    </h3>
                    <p class="govuk-body govuk-!-margin-bottom-2 govuk-hint">You didn't submit an assessment.
                {% endif %}
            {% endif %}
        </div>

        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-body" id="subsection-title">
                Logged in as {% if profile_count > 1 %}(
                <a href="{% url 'view-organisations' %}" class="govuk-link govuk-link--no-visited-state">
                    change
                </a>){% endif %}
                <span class="govuk-heading-m">
                    {{ current_profile.organisation.name }}
                </span>
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list">
                    <li>
                        <a href="{% url 'my-organisation' id=current_profile.id %}"
                           class="govuk-link govuk-link--no-visited-state">
                            Your organisation details
                        </a>
                    </li>
                </ul>
            </nav>
            {% current_user_can_create_user current_profile as can_create_user %}
            {% if can_create_user %}
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list">
                        <li>
                            <a href="{% url 'view-profiles' %}"
                               class="govuk-link govuk-link--no-visited-state">
                                Manage users
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
