span.govuk-header__logotype-text {
    font-size: 26px;
}

.govuk-template--rebranded .govuk-header__content {
    margin-bottom: 0;
    padding-top: 16px;
}

.govuk-template--rebranded .govuk-header__navigation {
    margin-bottom: 0;
    padding: 0;
}

.hidden_comments {
    display: none;
    visibility: hidden;
}

.override-item {
    /*gap: 0.2em;*/
    align-items: center;
}

/* First row: radio + label */
.override-item input[type="radio"] {
    grid-row: 1;
    grid-column: 1;
}

.override-item label[class="govuk-radios__label"] {
    grid-row: 1;
    grid-column: 2;
}

/* Second row: label + textbox */
.override-item label[class="comments_label"]{
    grid-row: 2;
    grid-column: 1 /span 2;
}

.override-item textarea {
    grid-row: 3;
    grid-column: 1/span 2;
}