{% extends "base.html" %}
{% load review_tags %}
{% load form_extras %}
{% load govuk_frontend_django %}
{% block title %}Manage user - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include 'partials/error_message.html' %}
            <span class="govuk-caption-l">{{ current_profile.organisation.name }}</span>
            {% if form.instance.id %}
                <h1 class="govuk-heading-l">Edit assessor</h1>
            {% else %}
                <h1 class="govuk-heading-l">Add a assessor</h1>
            {% endif %}

            <form class="form" method="post">
                {% csrf_token %}
                <div class="govuk-form-group {% if form.errors.name %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="name" id="id_name">
                        Assessor name
                    </label>
                    {% if form.errors.name %}
                        <p id="user-first-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must add a name
                        </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-20" id="name" name="name" type="text"
                           spellcheck="false"
                           value="{{ form.name.value|default:'' }}">
                </div>
                <div class="govuk-form-group {% if form.errors.phone_number %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="phone_number" id="id_phone_number">
                        Phone number
                    </label>
                    {% if form.errors.phone_number %}
                        <p id="user-last-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must add a last name
                        </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-20" id="phone_number" name="phone_number" type="number"
                           spellcheck="false"
                           value="{{ form.phone_number.value|default:'' }}">
                </div>
                <div class="govuk-form-group {% if form.errors.email %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="email" id="id_email">
                        Email address
                    </label>
                    {% if form.errors.email %}
                        <p id="user-email-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must add a valid email address
                        </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email"
                           spellcheck="false"
                           value="{{ form.email.value|default:'' }}">
                </div>
                <div class="govuk-form-group {% if form.errors.contact_name %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="contact_name" id="id_contact_name">
                        Contact name
                    </label>
                    {% if form.errors.contact_name %}
                        <p id="contact_name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must add a contact name
                        </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-20" id="contact_name" name="contact_name" type="text"
                           spellcheck="false"
                           value="{{ form.contact_name.value|default:'' }}">
                </div>
                <div class="govuk-form-group {% if form.errors.address %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="address" id="id_address">
                        Address
                    </label>
                    {% if form.errors.address %}
                        <p id="address-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must add a contact name
                        </p>
                    {% endif %}
                    <textarea rows="5" class="govuk-textarea comments_textarea" id="address" name="address" type="text"
                              spellcheck="false">{{ form.address.value|default:'' }}</textarea>
                </div>
                <div class="govuk-form-group {% if form.errors.assessor_type %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="assessor_type" id="id_assessor_type">
                        Assessor type
                    </label>
                    {% if form.errors.assessor_type %}
                        <p id="assessor_type-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must add an assessor type
                        </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <ul id="role" class="govuk-list">
                            {% for assessor_type in assessor_types %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="role{{ forloop.counter }}"
                                           name="assessor_type"
                                           type="radio"
                                           {% if assessor_type.0 == form.assessor_type.value %}checked{% endif %}
                                           value="{{ assessor_type.0 }}">
                                    <label class="govuk-label govuk-radios__label" for="role{{ forloop.counter }}">
                                        {{ assessor_type.1 }}
                                    </label>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="govuk-form-group {% if form.errors.members %}govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset" aria-describedby="members-hint">
                        <div id="members-hint" class="govuk-hint">
                            Check all the users who are members of this assessor group
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            {% for user_profile in current_profile.organisation.members.all %}
                                {% if user_profile.role == 'assessor' %}
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="id_members_{{ forloop.counter }}"
                                               name="members" value="{{ user_profile.id }}"
                                               type="checkbox" {% if user_profile.id in form.members.value %}
                                               checked {% endif %}
                                        >
                                        <label class="govuk-label govuk-checkboxes__label"
                                               for="id_members_{{ forloop.counter }}">
                                            {{ user_profile.user.email }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group {% if form.errors.members %}govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset" aria-describedby="assessments-hint">
                        <div id="assessments-hint" class="govuk-hint">
                            Check all the assessments assigned to this assessor group
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            {% for system in current_profile.organisation.systems.all %}
                                {% for assessment in system.assessments.all %}
                                    {% if assessment.status == 'submitted' %}
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input"
                                                   id="id_assessments_{{ forloop.counter }}_{{ forloop.parentloop.counter }}"
                                                   name="assessments" value="{{ assessment.id }}"
                                                   type="checkbox" {% if assessment.id in form.assessments.value %}
                                                   checked {% endif %}
                                            >
                                            <label class="govuk-label govuk-checkboxes__label"
                                                   for="id_assessments_{{ forloop.counter }}_{{ forloop.parentloop.counter }}">
                                                {{ assessment.system.name }}
                                                - {{ assessment.reference }}
                                                {% get_existing_review_assignments form.assessments.value assessment object %}
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <span class="govuk-body govuk-!-font-size-24">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>
                    </span>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
