{% load l10n %}
<div class="govuk-radios__item override-item">
    <input
            type="radio"
            name="{{ field.html_name }}"
            class="govuk-radios__input"
            id="id_{{ field.html_name }}_{{ position }}"
            value="{{ choice.0|unlocalize }}"
            {% if choice.0|stringformat:"s" == field.value|stringformat:"s" %}
            checked="checked"
            {% endif %}
            {% if choice.hint %}
            aria-describedby="id_{{ field.html_name }}_{{ position }}_hint"
            {% endif %}
            {% block additional_input_attributes %}{% endblock %}
    >

    <label class="govuk-label govuk-radios__label" for="id_{{ field.html_name }}_{{ position }}">
        {{ choice.1|unlocalize }}
    </label>
    {% if choice.hint %}
        <span id="id_{{ field.html_name }}_{{ position }}_hint" class="govuk-hint govuk-radios__hint">
      {{ choice.hint }}
    </span>
    {% endif %}
    {% if field.html_name == 'status' and choice.0 == 'override' or choice.0 == 'partially_achieved' %}
        <div id="div_id_{{ choice.0 }}_container">
            <label class="govuk-label div_id_{{ choice.0 }}_comments_label" for="div_id_{{ choice.0 }}_comments">
                Explain why you've changed the outcome
            </label>
            <textarea class="govuk-textarea" id="div_id_{{ choice.0 }}_comments" name="{{ choice.0 }}_comments"
                      rows="5">{% if choice.0 == 'override' %}{{ form.initial.override_comments|default:"" }}{% else %}
                {{ form.initial.partially_achieved_comments|default:"" }}{% endif %}
            </textarea>
        </div>
    {% endif %}
</div>
{% if choice.divider %}
    <div class="govuk-radios__divider">{{ choice.divider }}</div>
{% endif %}
{% block additional_content %}{% endblock %}
