{% extends "review-base.html" %}
{% load review_tags %}
{% load form_extras %}
{% load permission_extras %}
{% block title %} Areas for improvement {{ objective_code }} - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        {% get_review_completed_percentage object as percentage %}
        {% include "partials/review_progress_indicator.html" with percentage=percentage %}
        <div class="govuk-grid-column-three-quarters">
            {% include 'partials/error_message.html' %}
            <span class="govuk-caption-l">{{ object.assessment.system.name }} ({{ object.assessment.reference }})</span>
            <h1 class="govuk-heading-l">Add company details</h1>
            <div class="govuk-details">
                <p class="govuk-body">
                    This information will be included in the Independent Assurance Review Report (IARR).
                </p>
            </div>
            <form class="form" id="mainForm" method="post">
                {% csrf_token %}
                <div class="govuk-form-group">
                    <label class="govuk-label" for="company_name">
                        {{ form.company_name.label }}
                    </label>
                    <div id="company_name-hint" class="govuk-hint">
                        The trading name of the company
                    </div>
                    <input class="govuk-input govuk-input--width-30" id="company_name" name="company_name" type="text"
                           spellcheck="false" aria-describedby="company_name-hint" autocomplete="string"
                           value="{{ form.company_name.value|default:'' }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="lead_assessor_name">
                        {{ form.lead_assessor_name.label }}
                    </label>
                    <div id="lead_assessor_name-hint" class="govuk-hint govuk-visually-hidden">
                        {{ form.lead_assessor_name.label }}
                    </div>
                    <input class="govuk-input govuk-input--width-20" id="lead_assessor_name" name="lead_assessor_name"
                           type="text"
                           spellcheck="false" aria-describedby="lead_assessor_name-hint" autocomplete="string"
                           value="{{ form.lead_assessor_name.value|default:'' }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="company_email">
                        {{ form.company_email.label }}
                    </label>
                    <div id="company_email-hint" class="govuk-hint">
                        Use a current company email address
                    </div>
                    <input class="govuk-input govuk-input--width-30" id="company_email" name="company_email"
                           type="email"
                           spellcheck="false" aria-describedby="company_email-hint" autocomplete="string"
                           value="{{ form.company_email.value|default:'' }}">
                </div>
                <button class="govuk-button" id="save-add-company-details" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
{% endblock %}
