{% extends "base.html" %}
{% load review_tags %}
{% load form_extras %}
{% load permission_extras %}
{% block title %} Areas of good practice {{ objective_code }} - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        {% get_review_completed_percentage object as percentage %}
        {% include "partials/review_progress_indicator.html" with percentage=percentage %}
        <div class="govuk-grid-column-three-quarters">
            {% include 'partials/error_message.html' %}
            <span class="govuk-caption-l">{{ object.assessment.system.name }} ({{ object.assessment.reference }})</span>
            <h1 class="govuk-heading-l">Areas of good practice</h1>
            <p class="govuk-body">
                Identify any aspects of the organisation's approach that demonstrate strong cybersecurity practice for
                this
                CAF objective. These may include well-implemented controls, mature process, or effective governance
                that contribute positively to overall resilience.
            </p>
            <p class="govuk-body">
                Your comments will be included in the final Independent Assurance Review (IAR) report.
            </p>
            <h2 class="govuk-heading-m">Your comments</h2>
            <p class="govuk-caption-m">
                Include examples of string practices, controls that exceed baseline expectations, or areas where the
                organisation performs particularly well.
            </p>
            <form method="post" id="comment-form">
                {% csrf_token %}
                <div class="govuk-form-group {% if form.text.errors %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label govuk-visually-hidden"
                           for="id_form-text">{{ form.text.label }}
                    </label>
                    <textarea class="govuk-textarea" name="{{ form.text.html_name }}" cols="40" rows="5"
                              id="id_form-text">{{ form.text.value|default:"" }}</textarea>
                </div>
                <br/>
                <button type="submit" class="govuk-button" data-module="govuk-button"
                        {% if not object.can_edit %} disabled="disabled" aria-disabled="true"  {% endif %}
                >
                    Save and continue
                </button>
            </form>
        </div>
    </div>
{% endblock %}
