{% extends "base.html" %}
{% load review_tags %}
{% load form_extras %}
{% load permission_extras %}
{% block title %} Areas for improvement {{ objective_code }} - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        {% get_review_completed_percentage object as percentage %}
        {% include "partials/review_progress_indicator.html" with percentage=percentage %}
        <div class="govuk-grid-column-three-quarters">
            {% include 'partials/error_message.html' %}
            <span class="govuk-caption-l">{{ object.assessment.system.name }} ({{ object.assessment.reference }})</span>
            <h1 class="govuk-heading-l">Areas for improvement</h1>
            <p class="govuk-body">
                Provide comments on any weaker areas identified during your review of this
                system for the selected CAF objective. These may include gaps in evidence, immaturity of controls, insufficient governance, or areas
                 where the organisation could strengthen its cybersecurity posture.
            </p>
            <p class="govuk-body">
                Your comments will support the development of the objective-level
                recommendations and will feed into the final report.
            </p>
            <h2 class="govuk-heading-m">Your comments</h2>
            <p class="govuk-caption-m">
                Describe any weaknesses, vulnerabilities, or inconsistencies that may impact
                the organisation's ability to meet this CAF objective.
            </p>
            <form method="post" id="comment-form">
                {% csrf_token %}
                <div class="govuk-form-group {% if form.text.errors %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label govuk-visually-hidden"
                           for="id_form-text">{{ form.text.label }}
                    </label>
                    <textarea class="govuk-textarea" name="{{ form.text.html_name }}" cols="40" rows="5"
                              id="id_form-text">{{ form.text.value|default:"" }}</textarea>
                </div>
                <br/>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
{% endblock %}
