{% extends "base.html" %}
{% load static %}
{% load csp %}
{% load form_extras %}
{% block title %}{{ title }} {{ block.super }}{% endblock %}


{% block with_progress %}
    {% include "caf/partials/progress_indicator.html" with assessment=assessment %}
{% endblock %}


{% block content %}
    <span class="govuk-caption-l">{{ assessment.system.name }}</span>
    <h1 class="govuk-heading-l">{{ view.class_id }} {{ title }}</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "partials/error_message.html" %}
            <p class="govuk-body">You must read each indicator of good practice (IGP). Select the statements that apply to your systems. If you have alternative controls and exemptions you must still select the statements and add your comments to explain this.</p>
            {% is_duplicate_questions_present form as is_duplicate_questions_present %}
            {% if is_duplicate_questions_present %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Some achieved and partially-achieved statements are identical.
                        Please make sure that your selections for these statements do not conflict.
                    </strong>
                </div>
            {% endif %}
            <form class="form" id="mainForm" method="post">
                {% csrf_token %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="a3aAc-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          Achieved statements
                        </legend>
                        <div id="a3aAc-hint" class="govuk-hint">
                            You will achieve this outcome if you select all statements.
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                            {% for item in form|filter_fields:"achieved" %}
                                {% include "caf/partials/statement_fieldset.html" with section_type="achieved" field_name_prefix="achieved" %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                {% if form|filter_fields:"partially-achieved"|length > 0 %}
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="pa3aAc-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                Partially achieved statements
                            </legend>
                            <div id="pa3aAc-hint" class="govuk-hint">
                                You will partially achieve this outcome if you select all statements.
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                                {% for item in form|filter_fields:"partially-achieved" %}
                                    {% include "caf/partials/statement_fieldset.html" with section_type="partially-achieved" field_name_prefix="partially-achieved" %}
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                {% endif %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="a3aNa-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          Not achieved statements
                        </legend>
                        <div id="a3aNa-hint" class="govuk-hint">
                            You will not achieve this outcome if you select any of these statements.
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                            {% for item in form|filter_fields:"not-achieved" %}
                                {% include "caf/partials/statement_fieldset.html" with section_type="not-achieved" field_name_prefix="not-achieved" %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                        Save and continue
                    </button>
                    <a class="govuk-link" href="{% url back_url %}">Back to {{ objective_name }} </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block bottomjs %}

{% endblock %}

{% block extra_stylesheets %}
{% endblock %}
