{% extends "base.html" %}
{% load static %}
{% load csp %}
{% load form_extras %}
{% block title %} {{ title }}{% endblock %}

{% block content %}
    {% get_assessment request as assessment %}
    <span class="govuk-caption-l">{{ assessment.system.name }}</span>
    <h3 class="govuk-heading-l">{{ view.class_id }} {{ title }}</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "partials/error_message.html" %}
            <h3 class="govuk-body-l">You must read each indicator of good practice (IGP).</h3>
            <form class="form" id="mainForm" method="post">
                {% csrf_token %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="a3aAc-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Achieved statements
                            </h1>
                        </legend>
                        <div id="a3aAc-hint" class="govuk-hint">
                            You must select all statements to meet this outcome or add a comment if you have a justification for meeting the IGP in a different way.
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                            {% for item in form|filter_fields:"achieved" %}
                                {% include "caf/partials/statement_fieldset.html" with section_type="achieved" field_name_prefix="achieved" %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                {% if form|filter_fields:"partially-achieved"|length > 0 %}
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="pa3aAc-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Partially achieved statements
                                </h1>
                            </legend>
                            <div id="pa3aAc-hint" class="govuk-hint">
                                You must select all statements to meet this outcome or add a comment if you have a justification for meeting the IGP in a different way.
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                                {% for item in form|filter_fields:"partially-achieved" %}
                                    {% include "caf/partials/statement_fieldset.html" with section_type="partially-achieved" field_name_prefix="partially-achieved" %}
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                {% endif %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="a3aNa-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Not achieved statements
                            </h1>
                        </legend>
                        <div id="a3aNa-hint" class="govuk-hint">
                            If you select any statements without justifications, you will not meet this IGP.
                            If you justify any statements you select in the comment box, you will meet this IGP.
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                            {% for item in form|filter_fields:"not-achieved" %}
                                {% include "caf/partials/statement_fieldset.html" with section_type="not-achieved" field_name_prefix="not-achieved" %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                        Save and continue
                    </button>
                    <a class="govuk-link" href="{% url back_url %}">Back to {{ objective_name }} </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block bottomjs %}

{% endblock %}

{% block extra_stylesheets %}
{% endblock %}
