{% extends "base.html" %}
{% load static %}
{% load csp %}
{% load form_extras %}
{% block title %} {{ title }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% get_assessment request as assessment %}
            <span class="govuk-caption-l">{{ assessment.system.name }}</span>
            <h1 class="govuk-heading-l">
                Objective&nbsp;{{ objective_data.code }}&nbsp;-&nbsp;{{ title }}
            </h1>
            <p class="govuk-body">Please provide your answers for each principle. You can review the status of
                individual outcomes below each principle and change your answers if you need to.</p>
            {% for principal in objective_data.principles.values %}
                <h2 class="govuk-heading-m">
                    Principal:&nbsp;{{ principal.code }}&nbsp;{{ principal.title }}
                </h2>
                <dl class="govuk-summary-list">
                    {% for outcome in principal.outcomes.values %}
                        {% get_outcome_details assessment outcome.code as outcome_details %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-width-one-third">
                                {{ outcome.code }}&nbsp;{{ outcome.title }}
                            </dt>
                            {% if outcome_details.complete %}
                                <dd class="govuk-summary-list__value  govuk-!-width-one-third">
                                    {% if outcome_details.override_status %}
                                        <div class="govuk-grid-row govuk-!-width-full">
                                            {% if outcome_details.override_status == 'Achieved' %}
                                                <span class="govuk-tag govuk-tag--green govuk-grid-column-one-half govuk-!-font-size-16">{{ outcome_details.override_status }}</span>
                                            {% else %}
                                                <span class="govuk-tag govuk-tag--pink govuk-grid-column-one-half govuk-!-font-size-16">{{ outcome_details.override_status }}</span>
                                            {% endif %}
                                            <span class="govuk-body-s govuk-tag govuk-tag--blue govuk-grid-column-one-half govuk-!-font-size-16">
                                            overridden
                                        </span>
                                        </div>
                                    {% else %}
                                        <div class="govuk-grid-row govuk-!-width-full">
                                            {% if outcome_details.outcome_status == 'Achieved' %}
                                                <span class="govuk-tag govuk-tag--green govuk-!-font-size-16">{{ outcome_details.outcome_status }}</span>
                                            {% else %}
                                                <span class="govuk-tag govuk-tag--pink govuk-!-font-size-16">{{ outcome_details.outcome_status }}</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                </dd>
                                <dd class="govuk-summary-list__actions  govuk-!-width-one-third">

                                    {% with assessment.framework|add:'_indicators_'|add:outcome.code as indicator_url %}
                                        <a class="govuk-link"
                                           href="{% url indicator_url %}">
                                            Change<span class="govuk-visually-hidden"> Question 1</span></a>
                                    {% endwith %}
                                </dd>
                            {% else %}
                                <dd class="govuk-summary-list__value  govuk-!-width-one-third"></dd>
                                <dd class="govuk-summary-list__actions govuk-!-width-one-third">
                                    {% with assessment.framework|add:'_indicators_'|add:outcome.code as indicator_url %}
                                        <a class="govuk-link"
                                           href="{% url indicator_url %}">
                                            Add your answers<span class="govuk-visually-hidden"> Question 1</span></a>
                                    {% endwith %}
                                </dd>
                            {% endif %}
                        </div>
                    {% endfor %}
                </dl>
            {% endfor %}
            {% is_final_objective objective_data.code assessment as final_objective %}
            <form method="GET"
                    {% if not final_objective %}
                        {% next_objective objective_data.code assessment as next_objective_code %}
                        {% with assessment.framework|add:'_objective_'|add:next_objective_code as next_objective_url %}
                  action="{% url next_objective_url %}"
                        {% endwith %}
                    {% else %}
                  action="{% url 'edit-draft-assessment' assessment_id=assessment.id %}"
                    {% endif %}>
                <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                    {% if not final_objective %}
                        Save and continue
                    {% else %}
                        Review assessment
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
