{% extends "base.html" %}
{% load tz %}
{% load static %}
{% load csp %}
{% load form_extras %}
{% block title %} {{ title }}{% endblock %}


{% block with_progress %}
    {% include "caf/partials/progress_indicator.html" with assessment=assessment %}
{% endblock %}

{% block content %}
    {% get_assessment request as assessment %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ assessment.system.name }}</span>
            <h1 class="govuk-heading-l">
                Objective&nbsp;{{ objective_data.code }}&nbsp;-&nbsp;{{ title }}
            </h1>
            <p class="govuk-body">Please provide your answers for each principle. You can review the status of
                individual outcomes below each principle and change your answers if you need to.</p>
            {% include "partials/principal_summary-list.html" with objective_data=objective_data %}
            {% is_final_objective objective_data.code assessment as final_objective %}
            {% if not final_objective %}
                <form method="post" novalidate="">
                    <div class="govuk-form-group">
                        {% csrf_token %}
                        {% next_objective objective_data.code assessment as next_objective_code %}
                        <input type="hidden" name="next_objective" value="{{ next_objective_code }}">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Do you want to go to the next objective?
                                </h1>
                            </legend>
                            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios"
                                 data-govuk-radios-init="">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="objective-nav-1" name="action"
                                           type="radio" value="confirm" checked>
                                    <label class="govuk-label govuk-radios__label" for="objective-nav-1">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="objective-nav-2" name="action"
                                           type="radio" value="skip">
                                    <label class="govuk-label govuk-radios__label" for="objective-nav-2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                        Save and continue
                    </button>
                </form>
            {% else %}
                <form method="GET"
                      action="{% url 'edit-draft-assessment' assessment_id=assessment.id %}">
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"
                            data-govuk-button-init="">
                        Back to draft assessment
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
