{% extends "base.html" %}
{% load permission_extras %}
{% load csp %}
{% load form_extras %}

{% block title %}Manage Assessment - {{ user.first_name }} {% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if draft_assessment.system %}
                <span class="govuk-caption-l">{{ draft_assessment.system | get_system_name_from_id }}</span>
            {% endif %}
            <h1 class="govuk-heading-l">Submit a WebCAF self-assessment
            </h1>
            <p class="govuk-body"><strong>Draft assessment</strong></p>
            <div class="govuk-inset-text">
                For it to be assessed in GovAssure Year 3, 2025/26 you must complete your self-assessment before <strong>11:59pm</strong> on <strong>31 March 2026</strong>.
            </div>
            <h2 class="govuk-heading-m">1. Give system details and profile to be assessed</h2>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link"
                                {% if draft_assessment.assessment_id %}
                           href="{% url 'edit-draft-assessment-system' assessment_id=draft_assessment.assessment_id %}"
                                {% else %}
                           href="{% url 'create-draft-assessment-system' %}"
                                {% endif %}
                           aria-describedby="first-section-1-status">
                            Provide system details
                        </a>
                    </div>
                    <div class="govuk-task-list__status" id="first-section-1-status">
                        {% if not draft_assessment.system %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                        {% else %}
                            Completed
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link govuk-link--no-visited-state">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link"
                                {% if draft_assessment.assessment_id %}
                           href="{% url 'edit-draft-assessment-profile' assessment_id=draft_assessment.assessment_id %}"
                                {% else %}
                           href="{% url 'create-draft-assessment-profile' %}"
                                {% endif %}
                           aria-describedby="first-section-2-status">
                            Choose your government CAF profile
                        </a>
                    </div>
                    <div class="govuk-task-list__status" id="first-section-2-status">
                        {% if not draft_assessment.caf_profile %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                        {% else %}
                            Completed
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link"
                                {% if draft_assessment.assessment_id %}
                           href="{% url  'edit-draft-assessment-choose-review-type'  assessment_id=draft_assessment.assessment_id %}"
                                {% else %}
                           href="{% url 'create-draft-assessment-choose-review-type' %}"
                                {% endif %}
                           aria-describedby="first-section-3-status">
                            Choose a review type
                        </a>
                    </div>
                    <div class="govuk-task-list__status" id="first-section-3-status">
                        {% if not draft_assessment.review_type %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                        {% else %}
                            Completed
                        {% endif %}
                    </div>
                </li>
            </ul>

            <h2 class="govuk-heading-m govuk-!-margin-top-5">2. Create your assessment</h2>
            <p class="govuk-body">Take time to select your answers for each outcome. They will be assessed against
                your
                system and
                organisation.</p>
            <ul class="govuk-task-list">
                {% for objective in objectives %}
                    <li class="govuk-task-list__item">
                        <div class="govuk-task-list__name-and-hint">
                            {% if draft_assessment.assessment_id %}
                                {% with draft_assessment.framework|add:'_objective_'|add:objective.code as objective_id %}
                                    <a class="govuk-link govuk-task-list__link"
                                       href="{% url objective_id %}"
                                       aria-describedby="first-section-2-status">
                                        Objective {{ objective.code }}: {{ objective.title }}
                                    </a>
                                {% endwith %}
                            {% else %}
                                <div>
                                    Objective {{ objective.code }}: {{ objective.title }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
                             id="second-section-1-status">
                            {% if draft_assessment.assessment_id %}
                                {% is_objective_complete draft_assessment.assessment_id objective.code as objective_complete %}
                                {% if objective_complete %}
                                    <strong class="govuk-tag govuk-tag--green">
                                        Complete
                                    </strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--blue">
                                        Incomplete
                                    </strong>
                                {% endif %}
                            {% else %}
                                Cannot start yet
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <h2 class="govuk-heading-m govuk-!-margin-top-5">3. Submit your assessment</h2>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                        <div>
                            Complete the full assessment
                        </div>
                    </div>
                    <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
                         id="first-section-1-status">
                        {% is_all_objectives_complete draft_assessment.assessment_id as all_objectives_complete %}
                        {% current_user_can_submit_assessment current_profile as can_submit_assessment %}
                        {% if all_objectives_complete and can_submit_assessment %}
                            <a class="govuk-link govuk-task-list__link"
                               href={% url 'objective-confirmation' %}
                            >
                                View and submit
                            </a>
                        {% else %}
                            Cannot start yet
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}
