{% extends "base.html" %}
{% load permission_extras %}
{% load static %}
{% load csp %}
{% load form_extras %}

{% block title %}Complete the full assessment {{ block.super }}{% endblock %}
{% block content %}
    {% get_assessment request as assessment %}
    {% include 'partials/error_message.html' %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ assessment.system.name }}</span>
            <h1 class="govuk-heading-xl">
                Send your self-assessment for review
            </h1>
            <p class="govuk-body">Based on your answers, you can review the status of individual outcomes below for each
                principle. You can go back and change your answers.</p>
            {% for objective in objectives %}
                <h2 class="govuk-heading-l">
                    Objective&nbsp;{{ objective.code }}&nbsp;-&nbsp;{{ objective.title }}
                </h2>
                {% include "partials/principal_summary-list.html" with objective_data=objective %}
            {% endfor %}
            {% is_all_objectives_complete assessment.id as all_objectives_complete %}
            {% current_user_can_submit_assessment user_profile as can_submit %}
            {% if all_objectives_complete and can_submit %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                        Save and send for review
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
