{% extends "tip-base.html" %}
{% load tip_tags %}
{% load review_tags %}
{% load form_extras %}
{% load permission_extras %}
{% block title %}{% if recommendation_type == 'priority' %}Read {% else %}Review other{% endif %} recommendation -
    {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "partials/progress_indicator.html" with percentage=object.completed_percentage progress_type="TIP" tag_line=tag_line %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {% include 'partials/error_message.html' %}
            <span class="govuk-caption-l">{{ object.review.assessment.system.name }} ({{ object.review.assessment.reference }})</span>
            <h1 class="govuk-heading-l">
                {% if recommendation_type == 'priority' %}
                    Respond to priority
                {% else %}
                    Review other
                {% endif %}
                recommendation
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-6"><strong>Recommendation
                ID:</strong> {{ current_recommendation.id }}</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Contributing
                        outcome: {{ current_recommendation.outcome }} {{ current_recommendation.outcome_title }}
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% if object.review.assessment.review_type == 'independent' %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Associated risk
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if recommendation_type == 'priority' %}PR{% else %}
                                        RO{% endif %}{{ current_recommendation_group.group_index }}
                                    <br/>
                                    {{ current_recommendation_group.title }}
                                </dd>
                            </div>
                        {% endif %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Reviewer recommendation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ current_recommendation.id }}
                                <br/>
                                {{ current_recommendation.text }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <form method="post" novalidate="">
                <div class="govuk-form-group">
                    {% csrf_token %}
                    <div id="conditional-answer_yes">
                        <fieldset class="govuk-fieldset" aria-describedby="id_priority_recommendation_hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Will you add an action for this recommendation?
                                </h1>
                            </legend>
                            <div id="id_priority_recommendation_hint" class="govuk-hint">
                                {% if recommendation_type == 'priority' %}
                                    You must add an action for priority recommendations, or explain why you cannot
                                {% else %}
                                    Adding an action for other recommendations is optional
                                {% endif %}
                            </div>
                            <div id="id_recommendation_actioned"
                                 class="govuk-radios {% if form.recommendation_actioned.errors %}govuk-form-group--error{% endif %}"
                                 data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="actioned_answer_yes"
                                           name="recommendation_actioned"
                                           {% if form.recommendation_actioned.value == 'action_planned' %}checked{% endif %}
                                           type="radio" value="action_planned">
                                    <label class="govuk-label govuk-radios__label"
                                           for="actioned_answer_yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="actioned_answer_no"
                                           name="recommendation_actioned"
                                           {% if form.recommendation_actioned.value == 'action_not_planned' %}checked{% endif %}
                                           type="radio" value="action_not_planned">
                                    <label class="govuk-label govuk-radios__label" for="actioned_answer_no">
                                        No
                                    </label>
                                    {% if recommendation_type == 'priority' %}
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                             id="conditional-no_action_taken">
                                            <div id="action_not_planned_reason"
                                                 data-module="govuk-character-count"
                                                 data-maxwords="{{ form.action_not_planned_reason.field.widget.attrs.max_words }}"
                                                 class="govuk-form-group {% if form.action_not_planned_reason.errors %}govuk-form-group--error{% endif %}">
                                                <label class="govuk-label govuk-label--s"
                                                       for="action_not_planned_reason">
                                                    Explain why you will not add an action
                                                </label>
                                                <textarea
                                                        class="govuk-textarea govuk-js-character-count govuk-!-margin-bottom-3"
                                                        id="action_not_planned_reason"
                                                        name="action_not_planned_reason"
                                                        rows="5"
                                                        data-maxwords="{{ form.action_not_planned_reason.field.widget.attrs.max_words }}"
                                                >{{ form.action_not_planned_reason.value|default:"" }}</textarea>
                                                <div id="action_not_planned_reason-info"
                                                     class="govuk-hint govuk-character-count__message">You can
                                                    enter up to
                                                    {{ form.action_not_planned_reason.field.widget.attrs.max_words }}
                                                    words
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div id="conditional-action_taken"
                                     class="govuk-radios__conditional govuk-radios__conditional--hidden">
                                    <div id="action-details-section" class="govuk-!-margin-top-5">
                                        <h2 class="govuk-heading-l">Action details</h2>
                                        <p class="govuk-body">Provide the details for the action or actions you will
                                            take in response to this recommendation.</p>
                                        <p class="govuk-body">For help completing this section, go to the <a
                                                href="https://www.security.gov.uk/policy-and-guidance/govassure/stage-5-final-assessment-and-targeted-improvement-plan-get-well-plan/"
                                                class="govuk-link govuk-link--no-visited-state"
                                                rel="noreferrer noopener"
                                                target="_blank">GovAssure
                                            stage 5 guidance page (opens in new tab)</a></p>
                                        <div id="id_action_taken_description" class="govuk-!-margin-top-3">
                                            <div class="govuk-form-group {% if form.action_taken_description.errors %}govuk-form-group--error{% endif %}"
                                                 data-module="govuk-character-count"
                                                 data-maxwords="{{ form.action_taken_description.field.widget.attrs.max_words }}"
                                            >
                                                <label class="govuk-label govuk-label--m"
                                                       for="action_taken_description">
                                                    What action will you take?
                                                </label>
                                                <div id="action_taken_description-hint" class="govuk-hint">
                                                    Describe the action or actions and how they will implement the
                                                    recommendation
                                                </div>
                                                <textarea
                                                        class="govuk-textarea govuk-js-character-count govuk-!-margin-bottom-3"
                                                        id="action_taken_description"
                                                        name="action_taken_description" rows="5"
                                                        aria-describedby="action_taken_description-hint">{{ form.action_taken_description.value|default_if_none:"" }}</textarea>

                                                <div id="action_taken_description-info"
                                                     class="govuk-hint govuk-character-count__message">You can
                                                    enter up to
                                                    {{ form.action_taken_description.field.widget.attrs.max_words }}
                                                    words
                                                </div>
                                            </div>
                                            <div id="id_action_owner"
                                                 class="govuk-form-group {% if form.action_owner.errors %}govuk-form-group--error{% endif %}">
                                                <label class="govuk-label govuk-label--m"
                                                       for="action_owner">
                                                    Who owns this action?
                                                </label>
                                                <div id="action_owner-hint" class="govuk-hint">
                                                    Name the person or team who has ultimate responsibility for
                                                    implementing the action
                                                </div>
                                                <input class="govuk-input govuk-!-width-two-thirds"
                                                       id="action_owner" name="action_owner" type="text"
                                                       value="{{ form.action_owner.value|default_if_none:'' }}"
                                                       aria-describedby="action_owner-hint">
                                            </div>
                                            <div id="id_resources_available"
                                                 class="govuk-form-group {% if form.resources_available.errors %}govuk-form-group--error{% endif %}">
                                                <fieldset class="govuk-fieldset"
                                                          aria-describedby="resources_available-hint">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                        Are the resources available to deliver this action?
                                                    </legend>
                                                    <div id="resources_available-hint" class="govuk-hint">
                                                        This means whether you have the people, capacity and supporting
                                                        resources needed to do the work
                                                    </div>
                                                    <div class="govuk-radios" data-module="govuk-radios">
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input"
                                                                   id="resources_available"
                                                                   name="resources_available" type="radio"
                                                                   {% if form.resources_available.value == 'yes' %}checked{% endif %}
                                                                   value="yes">
                                                            <label class="govuk-label govuk-radios__label"
                                                                   for="resources_available">
                                                                Yes
                                                            </label>
                                                        </div>
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input"
                                                                   id="resources_available-2"
                                                                   name="resources_available" type="radio"
                                                                   {% if form.resources_available.value == 'no' %}checked{% endif %}
                                                                   value="no">
                                                            <label class="govuk-label govuk-radios__label"
                                                                   for="resources_available-2">
                                                                No
                                                            </label>
                                                        </div>
                                                        <div class="govuk-radios__divider">or</div>
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input"
                                                                   id="resources_available-4"
                                                                   name="resources_available" type="radio"
                                                                   {% if form.resources_available.value == 'unknown' %}checked{% endif %}
                                                                   value="unknown">
                                                            <label class="govuk-label govuk-radios__label"
                                                                   for="resources_available-4">
                                                                I'm not sure
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div id="id_budget_available"
                                                 class="govuk-form-group {% if form.budget_available.errors %}govuk-form-group--error{% endif %}">
                                                <fieldset
                                                        class="govuk-fieldset {% if form.budget_available.errors %}govuk-form-group--error{% endif %}"
                                                        aria-describedby="budget_available-hint">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                        Is the budget approved to deliver this action?
                                                    </legend>
                                                    <div id="budget_available-hint" class="govuk-hint">
                                                        This means whether the funding needed for the action has been
                                                        approved
                                                    </div>
                                                    <div class="govuk-radios" data-module="govuk-radios">
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input"
                                                                   id="budget_available"
                                                                   name="budget_available" type="radio"
                                                                   {% if form.budget_available.value == 'yes' %}checked{% endif %}
                                                                   value="yes">
                                                            <label class="govuk-label govuk-radios__label"
                                                                   for="budget_available">
                                                                Yes
                                                            </label>
                                                        </div>
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input"
                                                                   id="budget_available-2"
                                                                   name="budget_available" type="radio"
                                                                   {% if form.budget_available.value == 'no' %}checked{% endif %}
                                                                   value="no">
                                                            <label class="govuk-label govuk-radios__label"
                                                                   for="budget_available-2">
                                                                No
                                                            </label>
                                                        </div>
                                                        <div class="govuk-radios__divider">or</div>
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input"
                                                                   id="budget_available-4"
                                                                   name="budget_available" type="radio"
                                                                   {% if form.budget_available.value == 'unknown' %}checked{% endif %}
                                                                   value="unknown">
                                                            <label class="govuk-label govuk-radios__label"
                                                                   for="budget_available-4">
                                                                I'm not sure
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div id="id_target_date_provided"
                                                 class="govuk-form-group {% if form.target_date_provided.errors %}govuk-form-group--error{% endif %}">
                                                <fieldset class="govuk-fieldset"
                                                          aria-describedby="id_target_date_provided_hint">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                        Can you provide an estimated target completion date?
                                                    </legend>
                                                    <div class="govuk-radios" data-module="govuk-radios">
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input"
                                                                   id="id_target_date_provided"
                                                                   name="target_date_provided" type="radio"
                                                                   {% if form.target_date_provided.value == 'yes' %}checked{% endif %}
                                                                   value="yes"
                                                                   aria-controls="conditional-target_date_provided"
                                                                   aria-expanded="false">
                                                            <label class="govuk-label govuk-radios__label"
                                                                   for="id_target_date_provided">
                                                                Yes
                                                            </label>
                                                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                                                 id="conditional-target_date_provided">
                                                                <div class="govuk-!-margin-top-3">
                                                                    <div class="govuk-form-group">
                                                                        <fieldset class="govuk-fieldset"
                                                                                  role="group"
                                                                                  aria-describedby="targetDate-hint">
                                                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                                                Estimated target completion date
                                                                            </legend>
                                                                            <div id="targetDate-hint"
                                                                                 class="govuk-hint">
                                                                                For example, 27 3 2027
                                                                            </div>
                                                                            <div class="govuk-date-input"
                                                                                 id="targetDate">
                                                                                <div class="govuk-date-input__item">
                                                                                    <div class="govuk-form-group {% if form.target_day_day.errors %}govuk-form-group--error{% endif %}">
                                                                                        <label class="govuk-label govuk-date-input__label"
                                                                                               for="id_target_day_day">
                                                                                            Day
                                                                                        </label>
                                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                                               id="id_target_day_day"
                                                                                               name="target_day_day"
                                                                                               type="text"
                                                                                               value="{{ form.target_day_day.value|default_if_none:'' }}"
                                                                                               inputmode="numeric">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="govuk-date-input__item">
                                                                                    <div class="govuk-form-group {% if form.target_day_month.errors %}govuk-form-group--error{% endif %}">
                                                                                        <label class="govuk-label govuk-date-input__label"
                                                                                               for="id_target_day_month">
                                                                                            Month
                                                                                        </label>
                                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                                               id="id_target_day_month"
                                                                                               name="target_day_month"
                                                                                               type="text"
                                                                                               value="{{ form.target_day_month.value|default_if_none:'' }}"
                                                                                               inputmode="numeric">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="govuk-date-input__item">
                                                                                    <div class="govuk-form-group {% if form.target_day_year.errors %}govuk-form-group--error{% endif %}">
                                                                                        <label class="govuk-label govuk-date-input__label"
                                                                                               for="id_target_day_year">
                                                                                            Year
                                                                                        </label>
                                                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                                                               id="id_target_day_year"
                                                                                               name="target_day_year"
                                                                                               type="text"
                                                                                               value="{{ form.target_day_year.value|default_if_none:'' }}"
                                                                                               inputmode="numeric">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input"
                                                                   id="target_date_provided-2"
                                                                   name="target_date_provided" type="radio"
                                                                   value="no"
                                                                   {% if form.target_date_provided.value == 'no' %}checked{% endif %}
                                                                   aria-controls="conditional-target_date_provided-2"
                                                                   aria-expanded="false">
                                                            <label class="govuk-label govuk-radios__label"
                                                                   for="target_date_provided-2">
                                                                No
                                                            </label>
                                                            {% if recommendation_type == 'priority' %}
                                                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                                                     id="conditional-target_date_provided-2">
                                                                    <div class="govuk-!-margin-top-3">
                                                                        <div data-module="govuk-character-count"
                                                                             class="govuk-form-group {% if form.target_date_unavailable_reason.errors %}govuk-form-group--error{% endif %}"
                                                                             data-maxwords="{{ form.target_date_unavailable_reason.field.widget.attrs.max_words }}"
                                                                        >
                                                                            <label class="govuk-label govuk-label--s"
                                                                                   for="target_date_unavailable_reason">
                                                                                Explain why you cannot provide a
                                                                                target date
                                                                            </label>
                                                                            <textarea
                                                                                    class="govuk-textarea govuk-js-character-count govuk-!-margin-bottom-3"
                                                                                    id="target_date_unavailable_reason"
                                                                                    name="target_date_unavailable_reason"
                                                                                    rows="5">{{ form.target_date_unavailable_reason.value|default_if_none:'' }}</textarea>
                                                                            <div id="target_date_unavailable_reason-info"
                                                                                 class="govuk-hint govuk-character-count__message">
                                                                                You can enter up
                                                                                to {{ form.target_date_unavailable_reason.field.widget.attrs.max_words }}
                                                                                words
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="govuk-button-group">
                    <input type="hidden" name="recommendation_id" value="{{ current_recommendation.id }}">
                    <input type="hidden" name="recommendation_category" value="{{ recommendation_type }}">
                    {% if mode == 'change_answer' %}
                        <button type="submit" class="govuk-button govuk-button--secondary" name="submit_action"
                                {% if not object.can_edit %} disabled="disabled" aria-disabled="true"  {% endif %}
                                value="validate_and_back_to_answers">
                            Save and return to answers
                        </button>
                    {% else %}
                        {% if next_recommendation %}
                            <input type="hidden" name="next_recommendation" value="{{ next_recommendation.id }}">
                            <button type="submit" class="govuk-button" data-module="govuk-button"
                                    {% if not object.can_edit %} disabled="disabled" aria-disabled="true"  {% endif %}
                                    name="submit_action" value="validate_and_next_recommendation">
                                Save action and continue
                            </button>
                            <button type="submit" class="govuk-button govuk-button--secondary" name="submit_action"
                                    {% if not object.can_edit %} disabled="disabled" aria-disabled="true"  {% endif %}
                                    value="save_and_next_recommendation">
                                Save and finish action later
                            </button>
                        {% else %}
                            <button type="submit" class="govuk-button" name="submit_action"
                                    {% if not object.can_edit %} disabled="disabled" aria-disabled="true"  {% endif %}
                                    value="validate_and_back_to_summary">
                                Save and return to summary
                            </button>
                            <button type="submit" class="govuk-button govuk-button--secondary" name="submit_action"
                                    {% if not object.can_edit %} disabled="disabled" aria-disabled="true"  {% endif %}
                                    value="save_and_back_to_summary">
                                Save and finish action later
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
                <p class="govuk-body govuk-!-margin-top-4">
                    <a href="{% url 'tip:recommendations' pk=object.id recommendation_type=recommendation_type %}"
                       class="govuk-link">Return to summary</a>
                </p>
            </form>
        </div>
    </div>

    <script nonce="{{ request.csp_nonce }}">

        {#        Add the display toggle javascript if we have the support, otherwise the elements will always be visible #}

        window.addEventListener('DOMContentLoaded', () => {
            const recommendation_actioned = document.querySelectorAll('input[name="recommendation_actioned"]')
            const conditional_action_taken = document.getElementById('conditional-action_taken')

            function toggle_action_taken(target) {
                if (target.value === 'action_planned') {
                    conditional_action_taken.classList.remove('govuk-radios__conditional')
                    conditional_action_taken.classList.remove('govuk-radios__conditional--hidden')
                    console.log('Action taken radio selected')
                } else {
                    conditional_action_taken.classList.add('govuk-radios__conditional')
                    conditional_action_taken.classList.add('govuk-radios__conditional--hidden')
                    console.log('Action taken radio deselected')
                }
            }


            recommendation_actioned.forEach(radio => {
                {#Action based on the checked element#}
                if (radio.checked) {
                    toggle_action_taken(radio)
                }
                radio.addEventListener('change', event => {
                    toggle_action_taken(event.target);
                })
            })

        })
    </script>
{% endblock %}
