{% extends "tip-base.html" %}
{% load tip_tags %}
{% load review_tags %}
{% load form_extras %}
{% load permission_extras %}
{% block title %} Submit and download your TIP - {{ block.super }}{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {% include 'partials/error_message.html' %}
            <span class="govuk-caption-l">{{ object.review.assessment.system.name }} ({{ object.review.assessment.reference }})</span>
            <h1 class="govuk-heading-l">
                Submit your TIP for review
            </h1>
            <p class="govuk-body">
                Your Targeted Improvement Plan (TIP) is ready for submission.
            </p>
            <p class="govuk-body">
                You can go back to check your actions, download the draft TIP to complete final sign-off, or continue to
                submission.
            </p>
            <div class="govuk-inset-text">
                If there are any changes to your TIP needed after you submit it, the GovAssure team will contact you.
                You will then be able to return to WebCAF to make updates.
            </div>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Priority recommendations
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if object.is_priority_recommendations_completed %}Completed{% else %}Incomplete{% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Other recommendations
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if object.is_other_recommendations_completed %}Completed{% else %}Incomplete{% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Checked your answers
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if object.is_answers_confirmed %}Completed{% else %}Incomplete{% endif %}
                    </dd>
                </div>
            </dl>
            <section class="govuk-accordion__section">
                <h2 class="govuk-heading-m">Confirm to continue</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item {% if form.confirm.errors %}govuk-form-group--error{% endif %}"
                             id="id_confirm">
                            <input class="govuk-checkboxes__input" id="confirm-checkbox" name="confirm" type="checkbox"
                                   value="True" aria-describedby="confirm-checkbox-hint">
                            <label class="govuk-label govuk-checkboxes__label" for="confirm-checkbox">I confirm that the
                                contents of this TIP have been signed off by my organisation's GovAssure senior
                                responsible officer (SRO).</label>
                        </div>
                        <br/>
                        <br/>
                    </div>
                    <div class="govuk-button-group">
                        <button class='govuk-button govuk-button--primary' {% if not object.can_edit %}
                                disabled="disabled" aria-disabled="true"  {% endif %} type="submit"
                                name="confirm_button">
                            Submit your TIP for review
                        </button>
                    </div>
                    <p class="govuk-body">
                        <a href="{% url 'tip:review-answers' pk=object.id %}" class="govuk-link">Back to check your answers</a>
                    </p>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
