{% extends "tip-base.html" %}
{% load tip_tags %}
{% load review_tags %}
{% load form_extras %}
{% load permission_extras %}
{% block title %}Task list - {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "partials/progress_indicator.html" with percentage=object.completed_percentage progress_type="TIP" tag_line=tag_line %}
        </div>

        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">{{ object.review.assessment.system.name }} ({{ object.review.assessment.reference }})</span>
            <h1 class="govuk-heading-l">
                Create a Targeted Improvement Plan (TIP)
            </h1>

            <p class="govuk-body">
                You must read all the{% if object.review.assessment.review_type == 'independent' %} risks and{% endif %} recommendations.
                You must add an action for every priority recommendation. If you do not plan to add an action, you must
                give a reason.
            </p>
            <div class="govuk-inset-text">
                Adding actions for other recommendations is optional.
            </div>
            <h2 class="govuk-heading-m">1. Record TIP actions</h2>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link"
                           href="{% url 'tip:recommendations' pk=object.id recommendation_type='priority' %}"
                           aria-describedby="first-section-1-status">
                            Priority recommendations ({{ priority_recommendations_count }})
                        </a>
                        <div id="create-tip-actions-1-hint" class="govuk-task-list__hint">
                            Read the{% if object.review.assessment.review_type == 'independent' %} risks and{% endif %} recommendations for contributing outcomes that did not meet the target
                            Government CAF profile.
                        </div>
                    </div>
                    <div class="govuk-task-list__status" id="first-section-1-status">
                        {% if not object.is_priority_recommendations_completed %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                        {% else %}
                            Completed
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link"
                           href="{% url 'tip:recommendations' pk=object.id recommendation_type='other' %}"
                           aria-describedby="first-section-2-status">
                            Other recommendations ({{ other_recommendations_count }})
                        </a>
                        <div id="create-tip-actions-2-hint" class="govuk-task-list__hint">
                            Read the{% if object.review.assessment.review_type == 'independent' %} risks and{% endif %} recommendations for contributing outcomes that met the target Government
                            CAF profile.
                        </div>
                    </div>
                    <div class="govuk-task-list__status" id="first-section-2-status">
                        {% if not object.is_other_recommendations_completed %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                        {% else %}
                            Completed
                        {% endif %}
                    </div>
                </li>
            </ul>

            <h2 class="govuk-heading-m govuk-!-margin-top-6">2. Check responses</h2>
            <ul class="govuk-task-list" id="section-3b">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        {% if object.is_ready_to_review_actions %}
                            <a class="govuk-link govuk-task-list__link"
                               href="{% url 'tip:review-answers' pk=object.id %}"
                            >
                                Review your actions and get a draft TIP
                            </a>
                        {% else %}
                            <span class="govuk-body">
                                Review your actions and get a draft TIP
                            </span>
                        {% endif %}
                    </div>
                    <div class="govuk-task-list__status">
                        {% if object.is_ready_to_review_actions %}
                            {% if object.is_answers_confirmed %}
                                Completed
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">
                                    Incomplete
                                </strong>
                            {% endif %}
                        {% else %}
                            Cannot start yet
                        {% endif %}
                    </div>
                </li>
            </ul>
            <h2 class="govuk-heading-m">3. Submit TIP for approval</h2>
            <ul class="govuk-task-list" id="section-4">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        {% if object.is_ready_to_submit %}
                            <a id="task-link-8" class="govuk-link govuk-task-list__link"
                               href="{% url 'tip:submit' pk=object.id %}">
                                Send your proposed TIP to GovAssure
                            </a>
                        {% else %}
                            <div>
                                Send your proposed TIP to GovAssure
                            </div>
                        {% endif %}
                    </div>
                    <div class="govuk-task-list__status">
                        {% if object.is_ready_to_submit %}
                            {% if object.is_submitted %}
                                {% if object.status == 'review' %}
                                    <strong class="govuk-tag govuk-tag--red">
                                        Pending approval
                                    </strong>
                                {% elif object.status == 'approved' %}
                                    <strong class="govuk-tag govuk-tag--green">
                                        Approved
                                    </strong>
                                {% elif object.status == 'gov_assure_rejected' %}
                                    <strong class="govuk-tag govuk-tag--red">
                                        Rejected
                                    </strong>
                                {% else %}
                                    Cannot start yet
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">
                                    Incomplete
                                </strong>
                            {% endif %}
                        {% else %}
                            Cannot start yet
                        {% endif %}
                    </div>
                </li>
            </ul>

            <p class="govuk-body govuk-!-margin-top-6">
                <a href="{% url 'tip:list' %}" class="govuk-link">Return to My account</a>
            </p>

        </div>
    </div>
{% endblock %}
