{% extends "base.html" %}
{% load govuk_frontend_django %}
{% load static %}

{% block title %}Manage System - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include 'partials/error_message.html' %}
            <span class="govuk-caption-l">{{ current_profile.organisation.name }}</span>
            {% if form.instance.id %}
                <h1 class="govuk-heading-l">Edit {{ form.name.value|default:'' }} system</h1>
            {% else %}
                <h1 class="govuk-heading-l">Add a new government system</h1>
            {% endif %}

            <form class="form" method="post">
                {% csrf_token %}
                <div class="govuk-form-group {% if form.errors.name %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="id_name">
                        <span class="govuk-heading-m">System name</span>
                    </label>
                    <div id="govsysmanual-hint" class="govuk-hint">
                        Add a new system name
                    </div>
                    {% if form.errors.name %}
                        <p id="system-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must add a new system name
                        </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-30" id="id_name" name="name" type="text"
                           spellcheck="false"
                           value="{{ form.name.value|default:'' }}">
                </div>
                {% include "partials/system/system-description.html" %}
                {% include "partials/system/system-last-assessed.html" %}
                {% include "partials/system/system-owner.html" %}
                {% include "partials/system/system-hosting.html" %}
                {% include "partials/system/system-corporate-services.html" %}

                <div class="govuk-button-group">
                    <span class="govuk-body govuk-!-font-size-24">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
