{% extends "base.html" %}
{% load govuk_frontend_django %}
{% load static %}

{% block title %}Manage System - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include 'partials/error_message.html' %}
            <span class="govuk-caption-l">{{ current_profile.organisation.name }}</span>
            {% if form.instance.id %}
                <h1 class="govuk-heading-l">Edit {{ form.name.value|default:'' }} system</h1>
            {% else %}
                <h1 class="govuk-heading-l">Add a new government system</h1>
            {% endif %}

            <form class="form" method="post">
                {% csrf_token %}
                <div class="govuk-form-group">
                    <label class="govuk-label" for="name">
                        <span class="govuk-heading-m">System name</span>
                    </label>
                    <div id="govsysmanual-hint" class="govuk-hint">
                        Add a new system name
                    </div>
                    <input class="govuk-input govuk-input--width-30" id="id_name" name="name" type="text"
                           spellcheck="false"
                           value="{{ form.name.value|default:'' }}">
                </div>
                <h2 class="govuk-heading-m">
                    System description
                </h2>
                <div class="govuk-form-group" id="id_system_type">
                    <fieldset class="govuk-fieldset" aria-describedby="system_type-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">What does this system do?</legend>
                        <div id="system_type-hint" class="govuk-hint">
                            Select one option
                        </div>
                        <div class="govuk-radios govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                            {% for system_type in system_types %}
                                <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="system_type_{{ forloop.counter }}"
                                       name="system_type" type="radio"
                                       value="{{ system_type.0 }}"
                                       {% if system_type.0 == form.system_type.value %}checked{% endif %}
                                       aria-describedby="system_type-item-hint_{{ forloop.counter }}">
                                <label class="govuk-label govuk-radios__label" for="system_type_{{ forloop.counter }}">
                                    {{ system_type.1 }}
                                </label>
                            {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                </div>
                <h2 class="govuk-heading-m">
                    Year when system was last GovAssure assessed
                </h2>
                <div class="govuk-form-group" id="id_last_assessed">
                    <fieldset class="govuk-fieldset" aria-describedby="govassure_year-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Has this system been assessed before 2025/26?</legend>
                        <div id="govassure_year-hint" class="govuk-hint">
                            Select one option
                        </div>
                        <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                            {% for assessed_period in assessed_periods %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="govassure_year_{{ forloop.counter }}"
                                           name="last_assessed"
                                           type="radio"
                                           {% if assessed_period.0 == form.last_assessed.value %}checked{% endif %}
                                           value="{{ assessed_period.0 }}">
                                    <label class="govuk-label govuk-radios__label"
                                           for="govassure_year_{{ forloop.counter }}">
                                        {{ assessed_period.1 }}
                                    </label>

                                </div>
                                {% if forloop.revcounter == 2 %}<div class="govuk-radios__divider">or</div>{% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <h2 class="govuk-heading-m">
                    System owner
                </h2>
                <div class="govuk-form-group" id="id_system_owner">
                    <fieldset class="govuk-fieldset" aria-describedby="system_owner-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Who owns this system?</legend>
                        <div id="system_owner-hint" class="govuk-hint">
                            Select one option
                        </div>
                        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                            {% for owner in owner_types %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="system_owner_{{ forloop.counter }}"
                                        name="system_owner" type="radio"
                                        value="{{ owner.0 }}"
                                        {% if owner.0 in form.system_owner.value %}checked{% endif %}
                                        aria-describedby="system_owner-item-hint_{{ forloop.counter }}">
                                    <label class="govuk-label govuk-radios__label" for="system_owner_{{ forloop.counter }}">
                                        {{ owner.1 }}
                                    </label>
                                </div> {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <h2 class="govuk-heading-m">
                    System hosting and connectivity
                </h2>
                <div class="govuk-form-group" id="id_hosting_type">
                    <fieldset class="govuk-fieldset" aria-describedby="hosting_type-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">How is the system hosted?</legend>
                        <div id="hosting_type-hint" class="govuk-hint">
                            Select one option
                        </div>
                        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                            {% for hosting_type in hosting_types %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="hosting_type_{{ forloop.counter }}"
                                           name="hosting_type"
                                           type="radio" {% if hosting_type.0 in form.hosting_type.value %}checked{% endif %}
                                           value="{{ hosting_type.0 }}">
                                    <label class="govuk-label govuk-radios__label"
                                           for="hosting_type_{{ forloop.counter }}">
                                        {{ hosting_type.1 }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <h2 class="govuk-heading-m">
                    Corporate services
                </h2>
                <div id="id_corporate_services" class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="corporate_services-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">What corporate or internal end-user services does this system provide?</legend>
                        <div id="corporate_services-hint" class="govuk-hint">
                            Select all that apply
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            {% for service in corporate_services %}
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="corporate_service_{{ service.0 }}"
                                           name="corporate_services"
                                           type="checkbox"
                                           {% if service.0 in form.corporate_services.value %}checked{% endif %}
                                           value="{{ service.0 }}"
                                           {% if service.0 == 'none' %}data-behaviour="exclusive"{% endif %}>
                                    <label class="govuk-label govuk-checkboxes__label"
                                           for="corporate_service_{{ service.0 }}">
                                        {{ service.1 }}
                                    </label>
                                </div>
                            {% if forloop.revcounter == 2 %}<div class="govuk-radios__divider">or</div> {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                        <span class="govuk-body govuk-!-font-size-24">
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Save and continue
                            </button>
                        </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
