{% extends "base.html" %}
{% load govuk_frontend_django %}
{% block title %}Manage user - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="removeUser-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            Do you want to
                            remove {{ user_profile_to_delete.user.first_name }} {{ user_profile_to_delete.user.last_name }}?
                        </legend>
                        <div id="removeUser-hint" class="govuk-hint">
                        </div>
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios"
                             data-govuk-radios-init="">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="removeUser" name="action" type="radio"
                                       value="confirm">
                                <label class="govuk-label govuk-radios__label" for="removeUser">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="removeUser-2" name="action" type="radio"
                                       value="skip" checked>
                                <label class="govuk-label govuk-radios__label" for="removeUser-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                    Continue
                </button>
            </div>
        </div>
    </form>
{% endblock %}
