{% extends "base.html" %}
{% load govuk_frontend_django %}
{% block title %}Manage users - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "partials/error_message.html" %}
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--l">{{ current_profile.organisation.name }}
                    has {{ current_profile.organisation.members.all |length|default:0 }} users
                </caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Registered email address</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for user_profile in current_profile.organisation.members.all %}
                    <tr class="govuk-table__row">
                        <th scope="row"
                            class="govuk-table__header">{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
                            <strong
                                    {% if user_profile.role == 'cyber_advisor' %}
                                        class="govuk-tag govuk-tag--blue"
                                    {% elif user_profile.role == 'organisation_lead' %}
                                        class="govuk-tag govuk-tag--green"
                                    {% elif user_profile.role == 'organisation_user' %}
                                        class="govuk-tag govuk-tag--yellow"
                                    {% endif %}
                            >
                                {{ user_profile.get_role_display }}
                            </strong>
                        </th>
                        <td class="govuk-table__cell"> {{ user_profile.user.email }}</td>
                        <td scope="row" class="govuk-table__cell">
                            {% if user_profile.id != current_profile.id and user_profile.role != 'cyber_advisor' %}
                                <a href="{% url 'edit-profile' user_profile_id=user_profile.id %}"
                                   class="govuk-link govuk-link--no-visited-state">
                                    Change
                                </a> |
                                <a href="{% url 'remove-profile' user_profile_id=user_profile.id %}"
                                   class="govuk-link govuk-link--no-visited-state">
                                    Remove
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form class="form" action="{% url 'create-or-skip-new-profile' %}" method="POST">
                {% csrf_token %}
                <div class="govuk-form-group {% if form.errors.add_new_user %}govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset" aria-describedby="create_new_user-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Add another user?
                        </legend>
                        <div id="create_new_user-hint" class="govuk-hint">
                        </div>
                        {% if form.errors.add_new_user %}
                            <p id="add-new-user-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must select yes or no
                            </p>
                        {% endif %}
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios"
                             data-govuk-radios-init="" id="id_add_new_user">
                            {% for choice in form.fields.add_new_user.choices %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input"
                                        id="add_new_user{{ forloop.counter }}"
                                        value="{{ choice.0 }}"
                                        name="add_new_user"
                                        type="radio">
                                    <label class="govuk-label govuk-radios__label" for="add_new_user{{ forloop.counter }}">{{choice.1}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                    Continue
                </button>
            </form>
        </div>
    </div>
{% endblock %}
