{% extends "base.html" %}
{% load govuk_frontend_django %}
{% block title %}Manage user - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include 'partials/error_message.html' %}
            <span class="govuk-caption-l">{{ current_profile.organisation.name }}</span>
            {% if form.instance.id %}
                <h1 class="govuk-heading-l">Edit user</h1>
            {% else %}
                <h1 class="govuk-heading-l">Add a user</h1>
            {% endif %}

            <form class="form" method="post">
                {% csrf_token %}
                <div class="govuk-form-group {% if form.errors.first_name %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="first_name" id="id_first_name">
                        First name
                    </label>
                    {% if form.errors.first_name %}
                        <p id="user-first-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must add a first name
                        </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-20" id="first_name" name="first_name" type="text"
                           spellcheck="false"
                           value="{{ form.first_name.value|default:'' }}">
                </div>
                <div class="govuk-form-group {% if form.errors.last_name %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="last_name" id="id_last_name" >
                        Last name
                    </label>
                    {% if form.errors.last_name %}
                        <p id="user-last-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must add a last name
                        </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-20" id="last_name" name="last_name" type="text"
                           spellcheck="false"
                           value="{{ form.last_name.value|default:'' }}">
                </div>
                <div class="govuk-form-group {% if form.errors.email %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="email", id="id_email">
                        Email address
                    </label>
                    {% if form.errors.email %}
                        <p id="user-email-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must add a valid email address
                        </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email"
                           spellcheck="false"
                           value="{{ form.email.value|default:'' }}">
                </div>
                <div class="govuk-form-group {% if form.errors.role %}govuk-form-group--error{% endif %}">
                    <h3 class="govuk-heading-m">
                        Select a user role
                    </h3>
                    <p class="govuk-hint" id="id_role">Select one that applies</p>
                    {% if form.errors.role %}
                        <p id="user-role-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must select a user role
                        </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <ul id="role" class="govuk-list">
                            {% for role in roles %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="role{{ forloop.counter }}"
                                           name="role"
                                           type="radio"
                                           {% if role.0 == form.role.value %}checked{% endif %}
                                           value="{{ role.0 }}">
                                    <label class="govuk-label govuk-radios__label" for="role{{ forloop.counter }}">
                                        {{ role.1 }}
                                    </label>
                                    <div id="userRole-item-hint" class="govuk-hint govuk-radios__hint">
                                        <details class="govuk-details govuk-!-margin-bottom-0">
                                            <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                              What an {{ role.1|lower }} can do
                                            </span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                <ul class="govuk-list govuk-list--bullet">
                                                    {% for action_available in  role.2 %}
                                                        <li>{{ action_available }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </details>
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="govuk-button-group">
                    <span class="govuk-body govuk-!-font-size-24">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
