{% extends "review-base.html" %}
{% load govuk_frontend_django %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Review a WebCAF self-assessment</h1>
            <p class="govuk-body">
                Use this service to review an organisation’s WebCAF self-assessment against <a
                    class="govuk-link"
                    href="https://www.ncsc.gov.uk/files/Cyber%20Assessment%20Framework%20V3.2.pdf" target="_blank">National
                Cyber Security Centre's Cyber Assurance Framework (CAF) (opens in new tab)</a>.
            </p>
            <p class="govuk-body">You will be able to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>confirm the details of the system you are reviewing</li>
                <li>view an organisation’s self-assessment</li>
                <li>give your response to each <abbr title="indicator of good practice">IGP</abbr> statement</li>
                <li>provide comments where your response is different to the organisation’s selection for <abbr
                        title="indicator of good practice">IGPs</abbr></li>
                <li>write a summary for each contributing outcome</li>
                <li>identify risks and make recommendations for contributing outcomes</li>
                <li>comment on areas of good practice and suggest areas for improvement for each CAF objective</li>
                <li>comment on the quality of the organisation’s self-assessment and supporting evidence</li>
                <li>explain how and when you carried out your review</li>
            </ul>
            <h2 class="govuk-heading-s">Session timeout</h2>
            <p class="govuk-body">Your session will be ended if you are inactive for 90 minutes. <br>
                Any pages you saved earlier will be stored. We will delete your responses on pages you did not save.</p>
            <h2 class="govuk-heading-m">Before you start</h2>
            <p class="govuk-body">You must be an independent assurance reviewer contracted by an organisation to review their
                WebCAF self-assessment. The organisation must have given you user rights to access the
                self-assessment.</p>
            <p class="govuk-body">Before you begin your review, you may also find it helpful to have:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the organisation’s scoping document to refer to</li>
                <li>access to the organisation’s evidence repository</li>
                <li>the <a class="govuk-link"
                           href="https://www.security.gov.uk/policy-and-guidance/govassure/stage-4-independent-assurance-review/"
                           target="_blank">stage 4 guidance GovAssure (opens in new tab)</a> open to read
                </li>
            </ul>
            <a href="/my-account/" role="button" draggable="false"
               class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
               data-module="govuk-button">
                Sign in
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                     viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
            </a>

        </div>
    </div>
{% endblock %}
