{% extends "base.html" %}
{% load govuk_frontend_django %}
{% load static %}
{% load form_extras %}
{% block title %}Manage Organisation - {{ user.first_name }} {% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if draft_assessment.system %}
                <span class="govuk-caption-l">{{ draft_assessment.system | get_system_name_from_id }}</span>
            {% endif %}
            <h1 class="govuk-heading-l">
                Choose your Government CAF profile
            </h1>
            <p class="govuk-body">
                Every system undergoing GovAssure must be assigned one of the two Government CAF profiles. These are baseline and enhanced. You will have agreed this during stage 2.
            </p>
            <p class="govuk-body">You can read more in the
                <a class="govuk-link" href="https://www.security.gov.uk/policy-and-guidance/govassure/stage-2-in-scope-systems-and-assigning-target-caf-profile/#section_5_assign-caf-profiles-to-your-systems" target="new" class="govuk-lik"> assign CAF profiles to your systems guidance (opens in new tab). </a></p>
            <form class="form" method="post">
                {% csrf_token %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="cafprofile-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Choose a profile for this self-assessment
                        </legend>
                        <div id="cafprofile-hint" class="govuk-hint">
                            Select one
                        </div>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="caf_profile" name="caf_profile" type="radio"
                                        {% if draft_assessment.caf_profile == 'baseline' %}
                                       checked
                                        {% endif %}
                                       value="baseline" aria-describedby="cafprofile-item-hint">
                                <label class="govuk-label govuk-radios__label" for="caf_profile">
                                    Baseline
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="cafprofile-2" name="caf_profile" type="radio"
                                        {% if draft_assessment.caf_profile == 'enhanced' %}
                                       checked
                                        {% endif %}
                                       value="enhanced" aria-describedby="cafprofile-2-item-hint">
                                <label class="govuk-label govuk-radios__label" for="cafprofile-2">
                                    Enhanced
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
{% endblock %}
