{% extends "base.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Data usage policy
                <br><span class="govuk-body govuk-!-font-size-16">Last updated on 20 October 2025.</span>
            </h1>

            <h2 class="govuk-heading-m">
                Who we are
            </h2>
            <p class="govuk-body">
                The WebCAF service is managed by the Government Digital Services (GDS). GDS is part of the Department for Science, Innovation and Technology (DSIT). All WebCAF administrators hold SC clearance.
            </p>
            <h2 class="govuk-heading-m">
                How your data is used
            </h2>

            <p class="govuk-body">For self-assessments sent for review, the data you input into WebCAF will be used by external independent assurance reviewers or peer reviewers ("reviewers") to inform their third party assessments and subsequent reports.
            </p>
            <p class="govuk-body">The lead(s) for each government organisation ("organisation leads") are able to set up and assign users and assessors to relevant assessments, giving them the appropriate permissions. Organisations are responsible for ensuring roles and access rights allocated to individuals are appropriate and proportionate to the individual, using the principle of least privilege.
            </p>
            <p class="govuk-body">
                From WebCAF, datasets will be generated that are anonymised for the names of systems and references to specific organisations.
            </p>
            <p class="govuk-body">
            These datasets will be used to produce reporting on government security for GDS to measure progress against the <a href="https://www.gov.uk/government/publications/government-cyber-security-strategy-2022-to-2030/government-cyber-security-strategy-2022-to-2030-html" target="_blank" rel="noreferrer noopener" class="govuk-link--no-visited-state">Government Cyber Security Strategy (opens in new tab)</a>
               This process will include sharing anonymised data with the National Cyber Security Centre (NCSC), the Cyber Government Security Centre (GSeC), the Government Cyber Coordination Centre (GC3), and the Government Security Group (GSG).
            </p>
            <h2 class="govuk-heading-m">
                How your data is stored and managed
            </h2>
            <p class="govuk-body">In-progress self-assessments are stored on WebCAF and are editable by users your organisation lead has assigned. Once complete and sent for review, further edits are not possible. At this point, organisation leads can download a copy of the self-assessment.
            </p>
            <p class="govuk-body">When a self-assessment has been sent for review, it will remain viewable but not editable during the independent assurance review or peer review. The reviewer(s) your organisation lead has assigned will be able to view your data and complete their assessment.
            </p>


            <h2 class="govuk-heading-m">
                Further information
            </h2>
            <p class="govuk-body">WebCAF has passed the GDS Beta assessment process. Throughout the build of WebCAF, the NCSC has provided technical expertise and guidance. The development of WebCAF aligns and adheres with the
            <a class="govuk-link" href="https://www.gov.uk/service-manual/service-standard" target="_blank" rel="noreferrer noopener">GDS Service Standard (opens in new tab)</a> and
            <a class="govuk-link" href="https://www.gov.uk/guidance/the-technology-code-of-practice" target="_blank" rel="noreferrer noopener">Technology Code of Practice (opens in new tab)</a>.</p>

            <p class="govuk-body">For example, the application:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>has appropriate access control</li>
                <li>uses continuous integration and deployment from GitHub</li>
                <li>logs and monitors usage and audit data</li>
                <li>integrates continuous static and dynamic code analysis to identify vulnerability and configuration issues</li>
                <li>runs using iterative development process to quickly remediate issues and adapt features</li>
            </ul>

            <p class="govuk-body">A <a class="govuk-link" href="{% url 'privacy' %}">privacy notice</a> is available around the use of personal data which is linked with a Data Protection Impact Assessment that the GSG and CDDO team have performed with support from Cabinet Office Data Protection Office.
            </p>

            <p class="govuk-body">For more help on WebCAF, including contact details for the GovAssure team, please visit the
                <a class="govuk-link" href="{% url 'help' %}">help page</a>.
            </p>
        </div>
    </div>

{% endblock %}
