{% extends "base.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Help
            </h1>
            <h2 class="govuk-heading-m">
                What is GovAssure?
            </h2>
            <p class="govuk-body">
                GovAssure is the new cyber security assurance approach for government that will replace the cyber security element of the organisational Security Health Check (DSHC) in 2023.
            </p>
            <p class="govuk-body">GovAssure uses the <a class="govuk-link" href="https://www.ncsc.gov.uk/collection/cyber-assessment-framework/introduction-to-caf" target="new">National Cyber Security Centre's Cyber Assessment Framework (CAF) (opens in a new tab)</a>
                and meets the requirements for an objective understanding of government cyber security as set out in the
                <a class="govuk-link" href="https://www.gov.uk/government/publications/government-cyber-security-strategy-2022-to-2030/government-cyber-security-strategy-2022-to-2030-html" target="new"> Government Cyber Security Strategy (opens in a new tab)</a>.
                Organisations will assess critical systems against one of two CAF profiles for government, the Baseline or the Enhanced Profile. It will provide organisations and the Security Function with a more effective mechanism to understand the level of cyber resilience across government.
            </p>

            <h2 class="govuk-heading-m">
                What is WebCAF?
            </h2>

            <p class="govuk-body">WebCAF is the bespoke government platform that has been developed to receive CAF submissions from organisations electronically. An organisation will provide their responses for the CAF self-assessment via WebCAF. Third-party reviewers will have access to WebCAF at a time when the department submits their completed CAF return for review.
            </p>
        </div>
    </div>
{% endblock %}
