{% extends "base.html" %}
{% load govuk_frontend_django %}
{% block title %}Start page {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Access WebCAF
            </h1>
            <h2 class="govuk-heading-s">
                About WebCAF
            </h2>
            <p class="govuk-body">
                GovAssure is a 5-stage cyber assurance process used to understand the level of cyber resilience across
                government.
            </p>
            <p class="govuk-body">
                The WebCAF service is part of GovAssure. You can use it to:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>complete a stage 3 self-assessment and view submitted self-assessments</li>
                <li>view your stage 4 Peer Review or Independent Assurance Review Report (IARR)</li>
                <li>complete a stage 5 Targeted Improvement Plan (TIP) and view submitted TIPs</li>
            </ul>
            <p class="govuk-body">
                To view or complete any of these stages, <a href="{% url "my-account" %}">sign in to WebCAF</a>.
            </p>
            <p class="govuk-body">For information about completing each stage, go to the <a class="govuk-link"
                                                                                            href="https://www.security.gov.uk/policy-and-guidance/govassure/"
                                                                                            target="_blank">GovAssure
                guidance
                pages</a>.
            </p>
            <p class="govuk-body">The current WebCAF is based on version 3.2 of the
                <a class="govuk-link" href="https://www.ncsc.gov.uk/files/Cyber%20Assessment%20Framework%20V3.2.pdf"
                   target="_blank">
                    National Cyber Security Centre's Cyber Assessment Framework (CAF) (opens in new tab)
                </a>.
            </p>
            <h2 class="govuk-heading-s">If you are a reviewer</h2>
            <p class="govuk-body">
                If you are an independent assurance reviewer, please sign to the
                <a href="/review/" target="_blank" class="govuk-link">Review a WebCAF self-assessment (opens in new
                    tab)</a> service.
            </p>
            <p class="govuk-body">If you are a peer reviewer, please sign to the
                <a href="/peer-review/" target="_blank" class="govuk-link">
                    Peer Review a WebCAF self-assessment (opens in new tab)
                </a> service.
            </p>
            <h2 class="govuk-heading-s">Session timeout warning</h2>
            <p class="govuk-body">If you are inactive for 90 minutes during a session,
                you will be signed out to protect your security. If you have already saved pages,
                these will be stored securely in WebCAF.
                <br>
                <br>
                If you are signed out while working on a page, anything you have done will not be stored and you will
                have to start that page again.
            </p>

            <h2 class="govuk-heading-m">
                Before you start
            </h2>
            <p class="govuk-body">
                To complete a WebCAF stage 3 self-assessment, you must have completed stage 1 and stage 2 of GovAssure.
                This means you will have:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li> completed your organisation’s scoping document</li>
                <li> identified all your systems for self-assessment</li>
                <li> chosen the CAF profile of each system being assessed (Baseline or Enhanced)</li>
                <li> nominated a GovAssure lead in your organisation, to complete the self-assessment</li>
                <li> created a repository for your evidence</li>
            </ul>
            <p class="govuk-body">To complete a WebCAF stage 5 TIP, you must have completed stage 4 of GovAssure. This
                means you will have had either:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    a Peer Review with a finalised report
                </li>
                <li>
                    an Independent Assurance Review with a finalised report
                </li>
            </ul>
            <a href="/my-account/" role="button" draggable="false"
               class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
               data-module="govuk-button">
                Sign in
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                     viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}
