{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load govuk_frontend_django %}
{% load csp %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if breadcrumbs %}
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                {% for crumb in breadcrumbs %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="{{ crumb.url }}">{{ crumb.text }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">
                {{ title }}
            </h2>
            <p class="govuk-body">
                {{ description }}
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block bottomjs %}

{% endblock %}

{% block extra_stylesheets %}
{% endblock %}
