{% load form_extras %}
{% if form.errors %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
         data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for field in form %}
                    {% for error in field.errors %}
                        {% if field.label != 'Action' %}
                            <li><a href="#id_{{ field.name|safe_id }}">{{ field.label }} : {{ error }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li><a href="#">{{ error }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
