{% load form_extras %}
<li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
        {% if draft_assessment.assessment_id %}
            <a class="govuk-link govuk-task-list__link"
               href="{% url 'objective-overview' objective_id=objective.id version='v3.2' %}"
               aria-describedby="section-{{ forloop.counter }}-status">
                {{ objective.id|replace_underscores }}:&nbsp;{{ objective.label }}
            </a>
        {% else %}
            <div>
                {{ objective.id|replace_underscores }}:&nbsp;{{ objective.label }}
            </div>
        {% endif %}
    </div>
    <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
         id="section-{{ forloop.counter }}-status">
        {% if draft_assessment.assessment_id %}
            {% if objective.1 %}
                <strong class="govuk-tag govuk-tag--green">
                    Complete
                </strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--blue">
                    Incomplete
                </strong>
            {% endif %}
        {% else %}
            Cannot start yet
        {% endif %}
    </div>
</li>
