{% extends "base.html" %}
{% load govuk_frontend_django %}
{% block title %}Manage Assessment - {{ user.first_name }} {% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{ objective_heading }}
            </h1>

            <p class="govuk-body">Please provide your answers for each principle. You can review the status of
                individual outcomes below
                each
                principle and change your answers if you need to.</p>

            {% for principal in principles %}
                <h2 class="govuk-heading-m">
                    {{ principal.name }}
                </h2>
                <dl class="govuk-summary-list">
                    {% for indicator in principal.indicators %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-width-one-half">
                                {{ indicator.title }}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a class="govuk-link" href="{% url indicator.id %}">Add your answers</a>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#"><span
                                        class="govuk-visually-hidden"> Question {{ forloop.counter }} in {{ indicator.title }}</span></a>
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
            {% endfor %}
        </div>
    </div>
{% endblock %}
