{% load form_extras %}
{% load static %}

<div class="progress-container" role="region" aria-label="Review progress">
    <br>
    <p class="govuk-body-m" id="progress-status-text"><strong>You have completed {{ percentage }}%
        of your review</strong>
    </p>
    <div class="progress-bar-total">
        <style nonce="{{ request.csp_nonce }}">
            .progress-bar-completed {
                width: {{ percentage }}%;
            }
        </style>
        <div class="progress-bar-completed" id="progress-bar-completed"></div>
    </div>
</div>
<br>
